<html>
<head>
<meta charset=utf-8 />
<title>A simple map</title>
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.css' rel='stylesheet' />
<script src="../static/js/d3.min.js"></script>
<script src="../static/js/hexbin.js"></script>
<script src="../static/js/simple_statistics.js"></script>

<style>
    text {
        fill: white;
    }
    #map {
        margin: 100px;
        background-color: #333;
        width: 60%;
        height: 600px;
    }
    #tooltip {
        opacity: .9;
        background: #333;
        padding: 5px;
        border: 1px solid lightgrey;
        border-radius: 5px;
        position: absolute;
        z-index: 10;
        visibility: hidden;
        pointer-events: none;
    }
</style>
</head>
<body>
<form action="/results" method="POST">
    Search Term:<input type="text" name="search_term">
    <input type="submit" value="Submit">
</form>
<div id='map'></div>
<div id="tooltip">
    <svg width="100px" height="100px"></svg>
</div>
</body>

<script>
    L.mapbox.accessToken = 'pk.eyJ1Ijoianl0MTA5IiwiYSI6InJQMVJDUlkifQ.m9cuFCP-4usVG2qFFWgWOQ';
    var map = L.mapbox.map('map', 'zeira.ldg6ocae', {minZoom: 12, maxZoom: 16})
        .setView([37.7697, -122.4376], 13);
</script>
</html>